<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>
   <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav')  %>
    <%= JSON.stringify(user)  %>
    <!-- <h1>Blogify</h1> -->
    <%- include('./partials/scripts')  %>
</body>
</html>